.history-card {
  border-radius: 3px;
  border: solid 1px lightgray;
  display: flex;
  justify-content: space-around;
  width: 350px;
  margin: 15px;
  padding: 5px;
}

button {
  height: 25px;
  text-align: center;
  display: flex;
  align-items: center;
}
