.inline {
  display: inline;
}

.update-card {
  border-radius: 3px;
  border: solid 1px lightgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px;
  padding: 5px;
}

.buttons {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: right;
  max-width: 200px;
}
