.app {
  display: inline-block;
}
.main-test {
  display: flex;
}

.nav-bar {
  padding: 10px;
  max-width: 1200px;
  background: #141c33;
  font-size: 18px;
}

.under-nav {
  margin: 20px;
  max-width: 900px;
}

.entire-site {
  align-items: center;
  /* text-align: center; */
  max-width: 1200px;
}

.existing-user {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.main-button {
  white-space: nowrap;
  text-align: center;
  border: gray solid 1px;
  border-radius: 3px;
  padding: 8px 18px;
  background: transparent;
  color: black;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main-button:hover {
  color: darkslategray;
  background: rgb(248, 247, 247);
  cursor: pointer;
}

.main-button:disabled {
  color: lightgray;
  border: lightgray solid 1px;
  box-shadow: none;
  pointer-events: none;
}

.main-input {
  padding: 8px 18px;
  margin: 5px;
  border: 1px solid #141c33;
  border-radius: 3px;
}
.main-input:focus {
  outline: 3px solid rgb(238, 235, 235);
}

.main-input:disabled {
  color: lightgray;
  border: lightgray solid 1px;
}

.alert {
  margin: 5px;
  border-radius: 2px;
  border: 1px solid #eb677d;
  padding: 6px 10px;
  color: #eb677d;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.success {
  margin: 5px;
  border-radius: 2px;
  border: 1px solid lightgreen;
  padding: 6px 10px;
  color: lightgreen;
}

.red {
  color: red;
  border: solid 1px red;
}
