.app {
  display: inline-block;
}
.main-test {
  display: flex;
}

.nav-bar {
  padding-top: 10px;
  max-width: 1200px;
}

.under-nav {
  margin: 20px;
  max-width: 900px;
}

.entire-site {
  align-items: center;
  text-align: center;
}

.myDropdown {
  width: 100px;
  border-radius: 5px;
  background: white;
}
