.state-name {
  font-size: 25px;
  font-weight: 800;
  padding-bottom: 5px;
}

.dry-num {
  font-weight: 600;
}

.outline {
  text-decoration: underline;
}

.calc {
  font-size: 45px;
}

.info {
  max-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: right;
  justify-content: space-between;
  gap: 15px;
}
