.intro {
  border: #141c33 1px solid;
  text-align: left;
  border-radius: 2px;
  margin: 2rem 0;
  padding: 1rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.main-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .main-links {
    flex-direction: column;
    max-width: 200px;
  }
}
